page-entradallamada {
    .pagina2{
        background:#0B0B61;
    }

    .imgchica{
        width: 15%;
        position: relative;
        top: 0px;
        left: 120px; 
    }
    .img{
        width: 45%;
        position: relative;
        top: 50px;
        left: 20px; 
    }
    .abrir{
        width: 30%;
        position: relative;
        top: 100px;
        left: 165px;
    }
    .fin{
        width: 15%;
        position: relative;
        top: 120px;
        left: -120px;
    }
    .icono{
        color: red; 
        font-size: 45px;
    }
    .cerrar{
        width: 30%;
        position: relative;
        top: 160px;
        left: 76px;
    }
    .finllama{
        color: white;
        font-size: 18px;
        position: relative;
        top: 110px; 
        left: -0px;
    }
    
}