page-entradallamada {
    .pagina2{
        background:#0B0B61;
    }

    .imgchica{
        width: 5%;
        position: relative;
        top: 50px;
        left: 530px; 
    }
    .img{
        width: 20%;
        position: relative;
        top: 50px;
        left: 20px; 
    }
    .abrir{
        width: 5%;
        position: relative;
        top: 100px;
        left: 655px;
    }
    .fin{
        width: 15%;
        position: relative;
        top: 120px;
        left: 350px;
    }
    .icono{
        color: red;  
    }
    .cerrar{
        width: 5%;
        position: relative;
        top: 160px;
        left: 580px;
    }
    .finllama{
        color: white;
        font-size: 20px;
        position: relative;
        top: 110px; 
        left: 480px;
    }
    
}