page-home {
    .pagina{
        background:#0B0B61;
    }

    .imgchica{
        width: 15%;
        position: relative;
        top: 0px;
        left: 120px; 
    }
    .img{
        width: 45%;
        position: relative;
        top: 50px;
        left: 20px; 
    }
    .Entrallama{
        color: white;
        font-size: 24px;
        position: relative;
        top: 60px; 
    }
    .fin{
        width: 15%;
        position: relative;
        top: 90px;
        left: 80px;
    }
    .icono{
        color: red;  
    }
    .entra{
        width: 15%;
        position: relative;
        top: 90px;
        left: 120px;
    }
    .icono2{
        color: green;
        
    }



}
